*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    width: 100%;
    height: auto;
}
li{
    list-style: none;
}
header{
    position: absolute;
    top: calc(100vw * 25 / 1920);
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
    width: 90%;
    height: auto;
    z-index: 1;
}
header img{
    width: calc(100vw * 212 / 1920);
}
header li{
    display: inline-block;
    background: #000;
    margin-left: calc(100vw * 48 / 1920);
    width: calc(100vw * 174 / 1920);
    height: calc(100vw * 60 / 1920);
    border-radius: 50%;
    text-align: center;
}
header li a{
    display: block;
    margin-top: calc(100vw * 15 / 1920);
    width: 100%;
    height: 100%;
    font-family: 'HYGothic-medium';
    font-size: calc(100vw * 24 / 1920);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.game{
    background: #FFFF01;
}
.game a{
    color: #000;
  }  
.sign-up{
background: red;
}
.sign-up a{
color: #fff;
}
  

main{
    width: 100%;
    overflow: auto;
}

#banner{
    display: flex;
    margin: calc(100vw * 200 / 1920) 0 calc(100vw * 77 / 1920) 0;
    width: 100%;
    height: calc(100vw * 150 / 1920);
    background-color: #2AB94F;
    white-space: nowrap;
    overflow: hidden;
}
#banner h3{
    margin: calc(100vw * 20 / 1920) 0 0 calc(100vw * 150 / 1920);
    font-family: 'HYGothic-Extra';
    font-weight: 400;
    font-size: calc(100vw * 100 / 1920);
    color: #fff;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    text-align: center;
    animation: scrollingBanner 10s linear infinite;
}
@keyframes scrollingBanner {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

article, #db{
    margin: 0 5%;
    width: 90%;
}
article img{
    width: 100%;
}

#text{
    display: flex;
    justify-content: space-between;
    margin: calc(100vw * 94 / 1920) 0 calc(100vw * 48 / 1920) 0;
    font-family: 'HYGothic-extra';
    font-weight: bold;
    font-size: calc(100vw * 50 / 1920);
}
#text p:nth-child(2){
    color: #ff0000;
}

#table{
    margin-bottom: calc(100vw * 70 / 1920);
}
#user-list{
    padding: 0 5%;
    width: 100%;
    background-color: #2AB94F;
}
tbody{
    width: 100%;
}
#user-list tr{
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
}
tr{
    height: calc(100vw * 90 / 1920);
}
td, th{
    padding: calc(100vw * 30 / 1920) 0;
    border-bottom: solid 3px #FFFF01;
    font-family: 'Expo M';
    font-size: calc(100vw * 30 / 1920);
    color: #fff;
}
.a{
    width: 5%;
}
.b{
    width: 67%;
}
.c{
    width: 12%;
}
.d{
    width: 16%;
}

#user-form{
    margin-top: calc(100vw * 50 / 1920);
    width: 100%;
    height: auto;
    text-align: center;
}
fieldset{
    height: auto;
    border: solid 10px #FFFF01;
    border-radius: calc(100vw * 30 / 1920);
}
fieldset div{
    display: flex;
    justify-content: space-evenly;
    margin: calc(100vw * 50 / 1920) 0;
}
input {
    height: calc(100vw * 50 / 1920);
    text-align: center;
    font-family: 'HYGothic-extra';
    font-size: calc(100vw * 30 / 1920);
    border: 0;
    border-radius: calc(100vw * 15 / 1920);
    outline: none;
    background-color: #e9e9e9;
  }
  input:nth-child(1){
    width: calc(100vw * 1000 / 1920);
  }
  input:nth-child(2){
    width: calc(100vw * 500 / 1920);
  }
  button{
    margin-bottom: calc(100vw * 30 / 1920);
    width: calc(100vw * 250 / 1920);
    height: calc(100vw * 80 / 1920);
    text-align: center;
    font-family: 'HYGothic-medium';
    font-size: calc(100vw * 30 / 1920);
    font-weight: bold;
    color: #fff;
    background-color: #ff0000;
    border: 0;
    border-radius: calc(100vw * 30 / 1920);
    outline: none;
  }

  footer{
    padding: 0 5%;
    width: 90%;
    height: calc(100vw * 150 / 1920);
    background: #FFFF01;
  }
  footer img{
    margin: calc(100vw * 30 / 1920) 0 calc(100vw * 15 / 1920) 0;
    width: calc(100vw * 150 / 1920);
  }
  footer p{
    font-family: 'HYGothic-extra';
    font-size: calc(100vw * 15 / 1920);
  }